/*  
Theme Name: Kevin Shen
Theme URI: /public_html/wp-content/themes/kevinshen/style.css
Version: 1.0
Description: Designed by <a href="http://www.artshosting.co.uk">Arts Hosting</a>.
Author: Arts Hosting
Author URI: http://www.artshosting.co.uk
Tags: 
Template: canvas

*/

/* Default styles */
@import "../canvas/style.css";

/*-------------------------------------------------------------------------------------------

/* 1.1 Defaults */
body {
	background-color: #f6f6f6;
	background: url('images/body-bg.gif') center top no-repeat !important; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Belleza", Helvetica, Arial, sans-serif;
  color: #ff7f00;
  font-weight: bold;
  line-height: 1.2em;
}

/* 2.2 Navigation */
#navigation {
	float: right;
	width: auto;
	background: none;
	margin-top: 40px;
  font: normal 20px/1.2 "Belleza", Helvetica, Arial, sans-serif;
}
ul.nav li {
	margin: 0 5px;
}
ul.nav li a {
  padding: .25em .25em !important;
  display: inline-block!important;
  color: #666;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
ul.nav li.current_page_item a,
ul.nav li.current_page_parent a,
ul.nav li.current-menu-ancestor a,
ul.nav li.current-cat a,
ul.nav li.current-menu-item a {
  background: #eee;
  color: #ff7f00;
}
ul.nav li ul li a {
  background: #eee!important;
  color: #444!important;
}
ul.nav ul li.current_page_item a,
ul.nav ul li.current_page_parent a,
ul.nav ul li.current-menu-ancestor a,
ul.nav ul li.current-cat a,
ul.nav ul li.current-menu-item a,
#navigation ul.cart .cart_list a {
  color: #ff7f00!important;
}

#footer-nav {
	display: inline-block;
}
ul#footer-nav li a {
	padding: 0 !important;
	vertical-align: middle;
}

/* 2.6 Footer */
#footer {
  padding: 10px 0;
  border-top: 1px solid #ff7f00;
  color: #868686;
}

/* 4.2 Generic Widgets */
.widget h3 {
  margin: 0 0 0.2em 0;
  padding: 0 0 0.2em;
  font: normal normal 36px "Belleza", Helvetica, Arial, sans-serif;
  color: #ff7f00;
  border-bottom: 1px solid #ebebeb;
}


/* 8.1 Slider */
#loopedSlider {
	margin: 0 auto 15px!important;
	margin-bottom: 15px!important;
}

@media only screen and (min-width: 768px) {

	#navigation {
		width: auto !important;
		background: none!important;
		padding: .25em .25em !important;
	}
  #navigation ul.nav > li a:hover {
	  color: #ff7f00!important;
	  background: #eee!important;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
  }
  #navigation ul.nav > li:hover,
  #navigation ul.cart > li:hover,
  #navigation ul.cart > li:hover > ul > div {
	  color: #ff7f00!important;
	  background: #eee!important;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
  }


}
/*-------------------------------------------------------------------------------------------
